/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
    max-width: 100%;
    height: 100%;
}

/*************** GENERIC ******************/
body {
  position: relative;
  min-height:100vh;
  background-color:#D9E5F3;
  font-family: sans-serif;
}

/*************** HEADER ******************/
header {
  background-color:white;
  height: 15vh;
  border-radius:0  0 20px 20px;
  box-shadow: 0px 4px 18px -6px #0057FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

header .logo {
  height: 100%;
}

header > .logo > img{
  padding:20px 30px;
}

header > #logoutForm > button {
 
  background: #b80000;
  padding: 0 10px;
  font-weight: 600;
  line-height: 2rem;
  border: 1px solid #b80000;
}
header > #logoutForm > button:hover {
  background: white;
  border: 1px solid #b80000;
  color: #b80000;
}

/*************** MAIN ******************/
main {
  padding-bottom: 5vh;
}
main > h1 {
  text-align: center;
  margin: 60px 30px 20px;
  color: #134077;
}

.form-area {
  background-color: white;
  border-radius: 19px;
  border: 1px solid #134077;
  width: 50%;
  margin: 0px auto;
  padding: 40px;
}

.form-area > form > div {
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.form-area > form input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: normal;
  font-size: 1.3rem;
} 

.form-area > form input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.button-container {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.btn {
  text-transform: uppercase;
  border-radius: 11px;
  color: white;
  font-weight: 600;
  cursor: pointer;

}
#submitBtn {
  background: #0057FF;
  line-height: 2.5rem;
  border: 1px solid #0057FF;
}

#submitBtn:hover {
  background-color: white;
  color: #0057FF;
}

.error-message {
    display: block;
    background-color: #ff9595;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid red;
    border-radius: 10px;
  }

a {
  display: block;
  color: black;
  text-align: center;
}

/*************** SVG ******************/

.container-custom svg {
  position: absolute;
  bottom: 0;
  right: 0%;
}

#wave-1 {
  width:100%;
  z-index: -1;
}

#wave-2 {
  width:100%;
  z-index: -2;
}

#wave-3 {
  width:100%;
  z-index: -3;
}

#spaceship {
  bottom: 3.3vw;
  right: 5%;
  z-index: -2;
}

#ellipse1 {
  bottom: 50%;
  right: 0;
  z-index: -1;
  transform: translate(0,50%);

}

#ellipse2 {
  left: 5%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  z-index: -1;
}

@media (max-width: 720px) {

  .form-area {
    width: 60%;
    margin: 0px auto;
    padding: 30px;
  }

  main > h1 {
  font-size: 1.8rem;
}
}
@media (max-width: 480px) {

  main > h1 {
  font-size: 1.6rem;
}

  .form-area {
    width: 80%;
    margin: 0px auto;
    padding: 30px;
  }
}